p {
    font-size: larger;
    text-align:left;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Times New Roman", Times, serif;
}

#mainHeading {
    font-size: 55px;
    text-align:center;
    color: red;
}

.funParagraph {
    color: green;
}

#Tribal {
    font-size: 35px;
    font-family:cursive
}

#trad-japanese {
    font-size: 35px;
    font-family:cursive
}

#Old-School {
    font-size: 35px;
    font-family:cursive
}

#New-School {
    font-size: 35px;
    font-family:cursive
}

#other {
    font-size: 25px;
    font-family:cursive
}

ol {
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption {
   text-align:center
}

body {
    margin: 8px;
    display: block;
}
